<% if !media.errors.nil? %>
  <h4>Error in submitting the form:</h4>
  <ul>
    <% media.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong><%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <h2><%= yield(:title) %></h2>
    <%= form_for media, :html => {:class => "form-group"} do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', :required => true %>
      <%= f.label who_by %>
      <%= f.text_field who_by, class: 'form-control', :required => true %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= f.submit value: "Save", class: "btn btn-default"%>
    <% end %>
  </div>
</div>
