<div class="row">
  <div class="col-lg-12">
    <h2><%= yield(:title) %></h2>
    <%= form_for @album, :html => {:class => "form-group"} do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', :required => true %>
      <%= f.label :artist %>
      <%= f.text_field :artist, class: 'form-control', :required => true %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= f.submit value: "Save", class: "btn btn-default"%>
    <% end %>
  </div>
</div>
